
canvas{
  display:block;
  vertical-align:bottom;
}





/* ---- particles.js container ---- */

#particles-js{
  width: 100vw;
  height: 100vh;
  background-image: url('../img/OM6QGG0.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
}
