body{
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
    backface-visibility: hidden;
}
h2{
    margin-right: 75%;
}